@use "../base/_variables.scss" as *;
@use "../base/_animations.scss" as *;
@use "../base/_mixins.scss" as *;

.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(100%);
  overscroll-behavior: contain;
  -webkit-overscroll-behaviour: contain;
}

// Main carousel
.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(211, 211, 211, 0.892);
}

.carousel-slides {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Individual slides
.slide {
  position: absolute;
  width: auto;
  max-width: 100%;

  inset: 0;
  opacity: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow: hidden;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;

  -webkit-transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  touch-action: pan-x pan-y pinch-zoom;

  // When coming from left (for previous button)
  &[data-direction="prev"] {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
  }
  &[data-direction="next"] {
    opacity: 0;
    visibility: visible;
    transform: translateX(100%);
  }

  &[data-active] {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
    z-index: 1;
  }

  img {
    display: block;
    justify-self: center;
    align-self: center;
    max-height: 100%;
    max-width: 100%;

    width: auto;
    object-fit: contain;
    margin: 0 auto;

    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    touch-action: pan-x pan-y pinch-zoom;
    @include respond(1600px) {
    }

    @include respond(800px) {
      max-height: 70vh;
      max-width: 65vw; // Almost full width on mobile
      padding: 0; // Remove padding on mobile
    }
  }
}

.carousel-open {
  position: fixed;
  visibility: visible;
  top: 0;
  z-index: 100;
  left: 0%;
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.slide[data-active] {
  opacity: 1;
  padding-right: 30rem;
  padding-left: 30rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include respond(800px) {
    padding: 3rem 5rem; // Much less padding
  }
}

.carousel-button.previous {
  color: gray;
  background-color: $color-primary2-faded;
  left: 1rem;
  position: absolute;
  z-index: 2;

  border: none;
  top: 50%;
  left: 5%;
  font-size: 3rem;
  transform: translateY(-50%);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;

  @include respond(800px) {
    left: 2%; // Closer to edge
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}
.carousel-button.next {
  color: gray;
  background-color: $color-primary2-faded;
  position: absolute;
  z-index: 2;

  border: none;
  top: 50%;
  right: 5%;
  font-size: 3rem;

  transform: translateY(-50%);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;

  @include respond(800px) {
    right: 2%; // Closer to edge
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}

.close-button {
  color: gray;
  background-color: $color-primary2-faded;
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 5%;
  font-size: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  border-radius: 10px;
}

.close-button:hover,
.close-button:active {
  color: white;
  background-color: rgba(0, 0, 0, 0.09);
}

.carousel-button:hover,
.carousel-button:active {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.close-button:focus,
.carousel-button:focus {
  outline: none;
  background-color: $color-primary;
  color: white;
}
