$color-primary: rgba(142, 151, 142, 0.307);
$color-primary2: rgb(223, 200, 208);
$color-primary2-faded: rgba(223, 200, 208, 0.62);
$color-carousel-buttons: rgb(56, 53, 53);
$color-heading: rgb(113, 108, 108);
$color-sub-heading: rgb(59, 58, 58);
$color-text: rgb(47, 44, 44);
$font-primary: "poiret one";
$nav-height: 10rem;

$z-layers: (
  "carousel": 9999,
  "sliding-nav": 8888,
  "nav-bar": 7777,
);
