@use "../base/_variables.scss" as *;

@use "../base/_animations.scss" as *;
@use "../base/_mixins.scss" as *;

.gallery-section {
  position: relative;
  max-width: 100%;

  background-color: $color-primary;
}

.gallery-heading {
  font-size: 6rem;
  margin-bottom: 3rem;
  margin-top: 15rem;

  color: $color-heading;
  animation-name: moveInLeft;
  animation-duration: 3s;
  font-family: $font-primary;
  @include respond(800px) {
    padding-top: 10rem;
  }

  @include respond(600px) {
    font-size: 4rem;
  }
}

.gallery-container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 5rem 5rem 5rem 5rem;
}

.paintings {
  width: 100%;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
  row-gap: 4rem;

  .image {
    max-width: 100%;
    display: block;
    align-self: flex-end;
    object-fit: cover;
    height: auto;
    min-height: 100%;

    &:hover {
      opacity: 70%;
      cursor: pointer;
    }
  }

  .box {
    animation-name: moveUpGalleryImages;
    animation-duration: 2s;

    &_lady-box {
      animation-name: moveUpGalleryImages;
      animation-duration: 1.5s;
    }

    &_exbury-box {
      animation-name: moveUpGalleryImages;
      animation-duration: 1s;
    }

    &_purple-road-box {
      grid-row: 2;
      grid-column: 1 / 3;
    }
    &_drachen-fells-box {
      grid-row: 3;
      grid-column: 1 / 3;
    }
  }

  @include respond(900px) {
    grid-template-columns: repeat(2, 1fr); // 2 columns at 900px

    // Reset the specific positioning at smaller screens

    .box {
      p {
        font-size: 2rem;
      }

      &_purple-road-box {
        grid-column: 1 / 3;
        grid-row: auto;
      }

      &_drachen-fells-box {
        grid-column: 1 / 3;
        grid-row: auto;
      }

      &_curvey-tree-box {
        grid-row: 2;
        grid-column: 2;
      }

      &_lady-box {
        animation-name: moveUpGalleryImages;
        animation-duration: 1.5s;
      }

      &_exbury-box {
        animation-name: moveUpGalleryImages;
        animation-duration: 1s;
      }
    }
  }
}

//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //
//SKETCHBOOK DRAWINGS //

.sketches-container {
  margin: 0 auto;
  max-width: 130rem;

  @include respond(300px) {
  }
}
.sketch-section {
  margin: 0 auto;
  max-width: 100%;
  padding: 5rem 5rem 0rem 5rem;
  background-color: $color-primary2-faded;

  &_sketch-heading {
    margin-bottom: 0;
    color: $color-heading;
    font-size: 4rem;
    @include respond(250px) {
      font-size: 3rem;
    }
    @include respond(200px) {
      font-size: 2rem;
    }
  }

  &_sketch-subheading {
    color: $color-sub-heading;
    font-size: 2rem;
  }
}

.sketch-container {
  max-width: 100vw;
  height: 55dvh;
  min-height: 100%;
  margin: 0 auto;

  position: relative;

  @include respond(800px) {
    height: 25dvh;
  }
  @include respond(600px) {
    height: 80dvh;
  }
  @include respond(500px) {
    height: 70dvh;
  }
  @include respond(400px) {
    height: 50dvh;
  }
  @include respond(350px) {
    height: 40dvh;
  }
  @include respond(300px) {
    height: 30dvh;
  }
  @include respond(250px) {
    height: 25dvh;
  }
  @include respond(200px) {
    height: 20dvh;
  }

  @include respond(150px) {
    height: 15dvh;
  }
  @include respond(100px) {
    height: 10dvh;
  }
  @include respond(70px) {
    height: 8rem;
  }

  .photo {
    width: 12%;

    transition: all 1s;

    @include respond(600px) {
      width: 30%;
    }

    &:hover {
      cursor: pointer;
    }

    &.image-1 {
      position: absolute;
      top: 5%;
      left: 40%;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
      z-index: 1;
      &:hover {
        -webkit-transform: rotate(-5deg) scale(1.05);
        transform: rotate(-5deg) scale(1.05);
      }
    }

    &.image-2 {
      position: absolute;
      top: 35%;
      left: 40%;
      z-index: 2;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      &:hover {
        -webkit-transform: rotate(-20deg) scale(1.05);
        transform: rotate(-20deg) scale(1.05);
      }
      @include respond(600px) {
        left: 44%;
        top: 45%;
      }
    }

    &.image-3 {
      position: absolute;
      top: 20%;
      left: 35%;
      z-index: 1;
      transform: rotate(60deg);
      &:hover {
        -webkit-transform: rotate(60deg) scale(1.05);
        transform: rotate(60deg) scale(1.05);
      }
      @include respond(600px) {
        left: 50%;
        top: 20%;
      }
    }

    &.image-4 {
      position: absolute;
      top: 15%;
      left: 55%;
      z-index: 1;
      width: 18%;
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      &:hover {
        -webkit-transform: rotate(30deg) scale(1.05);
        transform: rotate(30deg) scale(1.05);
      }

      @include respond(600px) {
        left: 55%;
        top: 40%;
        width: 36%;
      }
    }

    &.image-5 {
      position: absolute;
      top: 2%;
      left: 50%;
      width: 18%;

      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);

      &:hover {
        -webkit-transform: rotate(10deg) scale(1.05);
        transform: rotate(10deg) scale(1.05);
      }
      @include respond(600px) {
        left: 15%;
        top: 6%;
        width: 36%;
      }
    }
    &.image-6 {
      position: absolute;
      top: 20%;
      left: 70%;
      z-index: 1;
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      &:hover {
        -webkit-transform: rotate(-30deg) scale(1.05);
        transform: rotate(-30deg) scale(1.05);
      }
      @include respond(600px) {
        left: 65%;
        top: 55%;
      }
    }
    &.image-7 {
      position: absolute;
      top: 25%;

      left: 20%;
      z-index: 2;
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
      &:hover {
        -webkit-transform: rotate(-10deg) scale(1.05);
        transform: rotate(-10deg) scale(1.05);
      }

      @include respond(600px) {
        left: 15%;
        top: 40%;
      }
    }
    &.image-8 {
      position: absolute;
      left: 25%;
      top: 10%;
      z-index: 1;

      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      &:hover {
        -webkit-transform: rotate(-20deg) scale(1.05);
        transform: rotate(-20deg) scale(1.05);
      }

      @include respond(600px) {
        left: 15%;
        top: 15%;
      }
    }

    &.image-9 {
      position: absolute;
      left: 55%;
      top: 25%;
      z-index: 1;

      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      &:hover {
        -webkit-transform: rotate(-20deg) scale(1.05);
        transform: rotate(-20deg) scale(1.05);
      }

      @include respond(600px) {
        left: 10%;
        top: 60%;
      }
    }

    &.image-10 {
      position: absolute;
      left: 55%;
      top: 40%;
      z-index: 1;
      width: 18%;

      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      &:hover {
        -webkit-transform: rotate(-20deg) scale(1.05);
        transform: rotate(-20deg) scale(1.05);
      }
      @include respond(600px) {
        left: 25%;
        top: 62%;
        width: 36%;
      }
    }

    @include respond(400px) {
      &.image-2 {
        top: 40%;
        left: 50%;
      }
      &.image-6 {
        top: 50%;
        left: 45%;
      }
      &.image-7 {
        top: 30%;
      }
      &.image-4 {
        top: 33%;
      }
      &.image-10 {
        top: 50%;
        left: 10%;
      }
      &.image-9 {
        top: 57%;
        left: 20%;
      }
    }
  }
}

.sketch-container .photo.no-rotate {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.sketch-container .photo.pop {
  position: relative;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%) scale(2) !important;
  transform: translate(-50%, -50%) scale(2) !important;

  z-index: 10;
  transition: all 1s;
  @include respond(800px) {
    -webkit-transform: translate(-50%, -50%) scale(3) !important;
    transform: translate(-50%, -50%) scale(3) !important;
  }
  @include respond(600px) {
    -webkit-transform: translate(-50%, -50%) scale(2) !important;
    transform: translate(-50%, -50%) scale(2) !important;
  }
}
