@use "../base/_variables.scss" as *;
@use "../components/_carousel.scss" as *;
@use "../layouts/layouts" as *;
@use "../base/_mixins.scss" as *;

.home-section {
}

.header-container {
  background-color: $color-primary;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.832)
    ),
    url(../images/7.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(5% 0%, 85% 0%, 95% 100%, 15% 100%);
  position: relative;

  @include respond(500px) {
    clip-path: none;
  }
}

.title-menu-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.heading {
  display: block;
  color: rgb(59, 58, 58);
  font-family: $font-primary, "sans sarif";
  font-size: 6rem;
  letter-spacing: 4px;

  animation-name: moveInRight;
  animation-duration: 4s;
  transition: ease-in;
  opacity: 1;

  &_TWO {
    margin-bottom: 3rem;
  }
  @include respond(500px) {
    font-size: 8rem;
  }
  @include respond(350px) {
    font-size: 6rem;
  }
  @include respond(250px) {
    font-size: 4rem;
  }
}
